.about-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-navbar-container {
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 2px 2px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #222529;
}
.about-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.about-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.about-burger-menu {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.about-icon {
  width: 36px;
  height: 36px;
}
.about-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.about-link {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.about-link01 {
  color: #ffffff;
  font-family: Roboto;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.about-link02 {
  color: #ffffff;
  font-family: Roboto;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.about-link03 {
  color: #ffffff;
  font-family: Roboto;
  text-decoration: none;
}
.about-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-cta-btn {
  color: #222529;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100VH;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.about-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.about-image {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.about-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-icon2 {
  width: 24px;
  height: 24px;
}
.about-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-link04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-link07 {
  text-decoration: none;
}
.about-banner {
  width: 100%;
  display: flex;
  padding: 48px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.about-navlink {
  display: contents;
}
.about-image1 {
  width: 100px;
  object-fit: cover;
  text-decoration: none;
}
.about-text02 {
  font-family: Roboto;
}
.about-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #222529;
}
.about-footer {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
}
.about-container2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.about-logo {
  display: flex;
  max-width: 1400px;
  align-items: flex-start;
  flex-direction: column;
}
.about-navlink02 {
  display: contents;
}
.about-image2 {
  width: 20vh;
  object-fit: cover;
  text-decoration: none;
}
.about-text26 {
  color: #ffffff;
  align-self: center;
  margin-top: 24px;
  font-family: Roboto;
}
.about-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.about-container3 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.about-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.about-text30 {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: 24px;
}
.about-navlink03 {
  color: #ffffff;
  font-family: Roboto;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-navlink04 {
  color: #ffffff;
  font-family: Roboto;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-company-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.about-text31 {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: 24px;
}
.about-navlink05 {
  color: #ffffff;
  font-family: Roboto;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-navlink06 {
  color: #ffffff;
  font-family: Roboto;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-link08 {
  color: #ffffff;
  font-family: Roboto;
  text-decoration: none;
}
.about-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.about-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
  flex-direction: column;
  justify-content: flex-start;
}
.about-text32 {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: 24px;
}
.about-link09 {
  color: #ffffff;
  font-family: Roboto;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-link10 {
  color: #ffffff;
  font-family: Roboto;
  text-decoration: none;
}
.about-separator {
  width: 100%;
  height: 1px;
  margin-top: 32px;
  margin-bottom: 32px;
  background-color: var(--dl-color-gray-900);
}
.about-text33 {
  color: rgb(255, 255, 255);
  align-self: center;
  text-align: center;
  font-family: Roboto;
}
.about-navlink07 {
  font-size: 12px;
}
.about-text36 {
  font-size: 12px;
}
.about-navlink08 {
  font-size: 12px;
}
.about-text37 {
  font-size: 12px;
}
.about-navlink09 {
  font-size: 12px;
}
@media(max-width: 1200px) {
  .about-image1 {
    width: 80vh;
  }
  .about-text02 {
    width: 80vh;
    font-family: Roboto;
  }
  .about-text08 {
    font-weight: 700;
  }
  .about-navlink01 {
    text-decoration: underline;
  }
  .about-image2 {
    width: 10rem;
    align-self: center;
  }
  .about-text26 {
    align-self: center;
    font-family: Roboto;
  }
  .about-text30 {
    font-family: Roboto;
  }
  .about-navlink03 {
    font-family: Roboto;
  }
  .about-navlink04 {
    font-family: Roboto;
  }
  .about-text31 {
    font-family: Roboto;
  }
  .about-navlink05 {
    font-family: Roboto;
  }
  .about-navlink06 {
    font-family: Roboto;
  }
  .about-link08 {
    font-family: Roboto;
  }
  .about-text32 {
    font-family: Roboto;
  }
  .about-link09 {
    font-family: Roboto;
  }
  .about-link10 {
    font-family: Roboto;
  }
  .about-text33 {
    color: rgb(255, 255, 255);
    font-family: Roboto;
  }
  .about-text34 {
    font-family: Roboto;
  }
  .about-navlink07 {
    font-size: 12px;
    text-decoration: underline;
  }
  .about-text36 {
    font-size: 12px;
  }
  .about-navlink08 {
    font-size: 12px;
    text-decoration: underline;
  }
  .about-text37 {
    font-size: 12px;
  }
  .about-navlink09 {
    font-size: 12px;
    text-decoration: underline;
  }
}
@media(max-width: 991px) {
  .about-footer {
    flex-direction: column;
  }
  .about-container3 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .about-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .about-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-gray-black);
  }
  .about-icon {
    fill: var(--dl-color-gray-white);
  }
  .about-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .about-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .about-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .about-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-logo {
    align-items: center;
  }
  .about-text26 {
    margin-top: 32px;
    text-align: center;
    margin-bottom: 32px;
  }
  .about-container3 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .about-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .about-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .about-banner {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .about-footer {
    padding: var(--dl-space-space-unit);
  }
  .about-container2 {
    align-items: center;
    flex-direction: column;
  }
  .about-text26 {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .about-links-container {
    align-items: center;
    flex-direction: column;
  }
  .about-container3 {
    margin-right: 0px;
  }
  .about-container4 {
    margin-top: 24px;
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .about-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-text33 {
    text-align: center;
  }
  .about-text34 {
    text-align: center;
  }
}
