.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar-container {
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 2px 2px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #222529;
}
.home-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.home-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-burger-menu {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.home-icon {
  width: 36px;
  height: 36px;
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-link {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.home-link01 {
  color: #ffffff;
  font-family: Roboto;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.home-link02 {
  color: #ffffff;
  font-family: Roboto;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.home-link03 {
  color: #ffffff;
  font-family: Roboto;
  text-decoration: none;
}
.home-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-cta-btn {
  color: #222529;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100VH;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-image {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon2 {
  width: 24px;
  height: 24px;
}
.home-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link07 {
  text-decoration: none;
}
.home-hero {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: var(--dl-size-size-maxcontent);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container02 {
  display: flex;
  margin-right: 48px;
  padding-right: 48px;
  flex-direction: column;
}
.home-text002 {
  font-size: 3rem;
  max-width: 450px;
  align-self: stretch;
  font-family: Roboto;
  line-height: 1.3;
}
.home-text003 {
  font-size: 1.14rem;
  line-height: 0.8;
}
.home-text006 {
  color: #66b574;
}
.home-text009 {
  color: #66b574;
}
.home-text011 {
  font-size: 1.14rem;
  line-height: 1.3;
}
.home-text013 {
  margin-top: 32px;
  font-family: Roboto;
  margin-bottom: 32px;
}
.home-text022 {
  color: #66b574;
  font-weight: 700;
}
.home-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-link08 {
  transition: 0.3s;
  font-family: Roboto;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link08:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.home-text025:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.home-image1 {
  width: 400px;
  object-fit: cover;
}
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-features {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tenunits);
  background-color: #222529;
}
.home-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: center;
}
.home-text027 {
  text-align: center;
  font-family: Roboto;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text028 {
  color: #ffffff;
}
.home-text030 {
  color: #66b574;
}
.home-text032 {
  color: #ffffff;
}
.home-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-features-card {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container {
  width: 200px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  padding-bottom: 8px;
  background-color: #222529;
}
.home-image2 {
  width: 100%;
  object-fit: cover;
}
.home-text-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading {
  color: rgb(102, 181, 116);
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text033 {
  color: var(--dl-color-gray-700);
  text-align: left;
  font-family: Roboto;
}
.home-features-card1 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container1 {
  width: 200px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #222529;
}
.home-image3 {
  width: 100%;
  object-fit: cover;
}
.home-text-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading1 {
  color: rgb(102, 181, 116);
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text034 {
  color: var(--dl-color-gray-700);
  text-align: left;
  font-family: Roboto;
}
.home-features-card2 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container2 {
  width: 200px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #222529;
}
.home-image4 {
  width: 100%;
  object-fit: cover;
}
.home-text-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading2 {
  color: rgb(102, 181, 116);
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text035 {
  color: var(--dl-color-gray-700);
  text-align: left;
  font-family: Roboto;
}
.home-features-card3 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container3 {
  width: 200px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #222529;
}
.home-image5 {
  width: 100%;
  object-fit: cover;
}
.home-text-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading3 {
  color: rgb(102, 181, 116);
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text036 {
  color: var(--dl-color-gray-700);
  text-align: left;
  font-family: Roboto;
}
.home-features-card4 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container4 {
  width: 200px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #222529;
}
.home-image6 {
  width: 100%;
  object-fit: cover;
}
.home-text-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading4 {
  color: rgb(102, 181, 116);
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text037 {
  color: var(--dl-color-gray-700);
  text-align: left;
  font-family: Roboto;
}
.home-features-card5 {
  width: 30%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container5 {
  width: 200px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #222529;
}
.home-image7 {
  width: 100%;
  object-fit: cover;
}
.home-text-container5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading5 {
  color: rgb(102, 181, 116);
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text038 {
  color: var(--dl-color-gray-700);
  text-align: left;
  font-family: Roboto;
}
.home-navlink {
  color: rgb(255, 255, 255);
  font-style: normal;
  margin-top: var(--dl-space-space-fiveunits);
  transition: 0.3s;
  font-family: Roboto;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(102, 181, 116);
}
.home-navlink:hover {
  color: #222529;
  border-color: #222529;
  background-color: #ffffff;
}
.home-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading-container1 {
  width: var(--dl-size-size-maxcontent);
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: center;
}
.home-text039 {
  align-self: center;
  margin-top: var(--dl-space-space-fourunits);
  text-align: center;
  font-family: Roboto;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-div {
  width: 100%;
  height: 50vh;
  align-self: center;
}
.home-sliderdiv {
  width: 100%;
  height: 50vh;
  align-self: center;
  align-items: center;
  display: flex;
}
.home-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-pricing {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.home-container04 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 100%;
  align-items: flex-start;
  justify-content: center;
  background-color: #222529;
}
.home-container05 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  margin-right: 32px;
  flex-direction: column;
}
.home-text040 {
  color: #ffffff;
  font-family: Roboto;
}
.home-text041 {
  color: #999999;
  margin-top: 32px;
  text-align: left;
  font-family: Roboto;
  margin-bottom: 32px;
}
.home-container06 {
  flex: 2;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.home-container07 {
  flex: 1;
  height: 475px;
  display: flex;
  max-width: 450px;
  transition: 0.3s;
  align-items: center;
  padding-top: 32px;
  margin-right: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  background-color: var(--dl-color-gray-white);
}
.home-container07:hover {
  transform: scale(1.02);
}
.home-text049 {
  font-size: 1.5rem;
  font-family: Roboto;
  font-weight: 600;
}
.home-text050 {
  margin: 32px;
  font-size: 3rem;
  font-family: Roboto;
  font-weight: 200;
}
.home-text053 {
  font-size: 0.6rem;
}
.home-text055 {
  font-family: Roboto;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text059 {
  font-weight: 700;
}
.home-text060 {
  font-family: Roboto;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text063 {
  font-weight: 700;
}
.home-text064 {
  text-align: center;
  font-family: Roboto;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text065 {
  font-weight: 700;
}
.home-text068 {
  font-family: Roboto;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text071 {
  font-weight: 700;
}
.home-navlink01 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-container08 {
  flex: 1;
  color: var(--dl-color-gray-white);
  height: 475px;
  display: flex;
  max-width: 450px;
  transition: 0.3s;
  align-items: center;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  background-color: #66b574;
}
.home-container08:hover {
  transform: scale(1.02);
}
.home-text072 {
  font-size: 1.5rem;
  font-family: Roboto;
  font-weight: 600;
}
.home-text073 {
  margin: 32px;
  font-size: 3rem;
  font-family: Roboto;
  font-weight: 200;
}
.home-text075 {
  font-size: 0.6rem;
}
.home-text076 {
  font-family: Roboto;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text079 {
  font-weight: 700;
}
.home-text080 {
  font-family: Roboto;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text083 {
  font-weight: 700;
}
.home-text084 {
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text087 {
  font-style: normal;
  font-weight: 400;
}
.home-text088 {
  font-family: Roboto;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text091 {
  font-weight: 700;
}
.home-navlink02 {
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-stats {
  display: grid;
  padding: 48px;
  grid-gap: 32px;
  max-width: 100%;
  align-self: stretch;
  grid-template-columns: 1fr 1fr 1fr;
}
.home-stat {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text092 {
  color: rgb(102, 181, 116);
  font-size: 3rem;
  font-family: Roboto;
}
.home-text093 {
  color: rgb(34, 37, 41);
  font-size: 1.15rem;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}
.home-stat1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text094 {
  color: rgb(102, 181, 116);
  font-size: 3rem;
  font-family: Roboto;
}
.home-text095 {
  color: rgb(34, 37, 41);
  font-size: 1.15rem;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}
.home-stat2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text096 {
  color: rgb(102, 181, 116);
  font-size: 3rem;
  font-family: Roboto;
}
.home-text097 {
  color: rgb(34, 37, 41);
  font-size: 1.15rem;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
}
.home-section-separator4 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-banner {
  width: 100%;
  display: flex;
  padding: 48px;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #222529;
}
.home-text098 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: Roboto;
  font-weight: 600;
  margin-bottom: 32px;
}
.home-text100 {
  color: #66b574;
}
.home-text107 {
  color: #ffffff;
  font-size: 0.5rem;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  line-height: 1;
}
.home-link09 {
  color: #ffffff;
  margin-top: var(--dl-space-space-fourunits);
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: #66b574;
}
.home-link09:hover {
  color: #222529;
  border-color: #222529;
  background-color: #ffffff;
}
.home-section-separator5 {
  width: 100%;
  height: 1px;
  display: flex;
  opacity: 0.2;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #222529;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: space-between;
}
.home-container09 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-logo {
  display: flex;
  max-width: 1400px;
  align-items: flex-start;
  flex-direction: column;
}
.home-link10 {
  display: contents;
}
.home-image8 {
  width: 20vh;
  object-fit: cover;
  text-decoration: none;
}
.home-text114 {
  color: #ffffff;
  align-self: center;
  margin-top: 24px;
  font-family: Roboto;
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-container10 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.home-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text118 {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: 24px;
}
.home-navlink03 {
  color: #ffffff;
  font-family: Roboto;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink04 {
  color: #ffffff;
  font-family: Roboto;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-company-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text119 {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: 24px;
}
.home-navlink05 {
  color: #ffffff;
  font-family: Roboto;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink06 {
  color: #ffffff;
  font-family: Roboto;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link11 {
  color: #ffffff;
  font-family: Roboto;
  text-decoration: none;
}
.home-container11 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text120 {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: 24px;
}
.home-link12 {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link13 {
  color: #ffffff;
  font-family: Roboto;
  text-decoration: none;
}
.home-separator {
  width: 100%;
  height: 1px;
  margin-top: 32px;
  margin-bottom: 32px;
  background-color: var(--dl-color-gray-900);
}
.home-text121 {
  color: rgb(255, 255, 255);
  align-self: center;
  text-align: center;
  font-family: Roboto;
}
.home-navlink07 {
  font-size: 12px;
  text-decoration: underline;
}
.home-text124 {
  font-size: 12px;
}
.home-navlink08 {
  font-size: 12px;
  text-decoration: underline;
}
.home-text125 {
  font-size: 12px;
}
.home-navlink09 {
  font-size: 12px;
  text-decoration: underline;
}
.home-navlink10 {
  font-size: 12px;
  text-decoration: underline;
}
@media(max-width: 1200px) {
  .home-link08 {
    color: rgb(34, 37, 41);
    font-family: Roboto;
    border-color: #222529;
  }
  .home-text025 {
    border-color: #222529;
  }
  .home-container03 {
    width: 100%;
    height: 50vh;
  }
  .home-heading-container1 {
    width: 100%;
    align-self: center;
    align-items: center;
    margin-bottom: 0px;
  }
  .home-text039 {
    font-family: Roboto;
  }
  .home-text042 {
    font-family: Roboto;
  }
  .home-text043 {
    font-family: Roboto;
  }
  .home-text044 {
    font-family: Roboto;
  }
  .home-text045 {
    font-family: Roboto;
  }
  .home-text046 {
    font-family: Roboto;
  }
  .home-text052 {
    font-size: 0.6rem;
  }
  .home-text053 {
    font-size: 0.6rem;
  }
  .home-text055 {
    font-family: Roboto;
    font-weight: bold;
  }
  .home-text057 {
    font-style: normal;
    font-weight: 400;
  }
  .home-text060 {
    font-family: Roboto;
    font-weight: bold;
  }
  .home-text061 {
    font-style: normal;
    font-weight: 400;
  }
  .home-text064 {
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
  }
  .home-text067 {
    font-style: normal;
    font-weight: 400;
  }
  .home-text068 {
    font-family: Roboto;
  }
  .home-text069 {
    font-style: normal;
    font-weight: 400;
  }
  .home-text070 {
    font-weight: 700;
  }
  .home-text071 {
    font-weight: 700;
  }
  .home-text075 {
    font-size: 0.6rem;
  }
  .home-text076 {
    font-family: Roboto;
    font-weight: bold;
  }
  .home-text077 {
    font-style: normal;
    font-weight: 400;
  }
  .home-text080 {
    font-family: Roboto;
    font-weight: bold;
  }
  .home-text081 {
    font-style: normal;
    font-weight: 400;
  }
  .home-text084 {
    font-family: Roboto;
    font-weight: bold;
  }
  .home-text085 {
    font-family: Roboto;
    font-weight: bold;
  }
  .home-text088 {
    font-family: Roboto;
  }
  .home-text089 {
    font-style: normal;
    font-weight: 400;
  }
  .home-text090 {
    font-weight: 700;
  }
  .home-text091 {
    font-weight: 700;
  }
  .home-text100 {
    color: #66b574;
  }
  .home-text105 {
    font-family: Roboto;
    font-weight: 600;
  }
  .home-image8 {
    width: 10rem;
    align-self: center;
  }
  .home-text121 {
    font-family: Roboto;
  }
  .home-text122 {
    font-family: Roboto;
  }
}
@media(max-width: 991px) {
  .home-hero {
    flex-direction: column;
  }
  .home-container02 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
    padding-right: 0px;
  }
  .home-text002 {
    align-self: center;
    text-align: center;
  }
  .home-text003 {
    text-align: center;
  }
  .home-text013 {
    text-align: center;
    padding-left: 48px;
    padding-right: 48px;
  }
  .home-container04 {
    align-items: center;
    flex-direction: column;
  }
  .home-container05 {
    align-items: center;
  }
  .home-text041 {
    text-align: center;
  }
  .home-container06 {
    width: 100%;
  }
  .home-text092 {
    text-align: center;
  }
  .home-text094 {
    text-align: center;
  }
  .home-text096 {
    text-align: center;
  }
  .home-footer {
    flex-direction: column;
  }
  .home-container10 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .home-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .home-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-gray-black);
  }
  .home-icon {
    fill: var(--dl-color-gray-white);
  }
  .home-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .home-hero {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-text002 {
    align-self: center;
  }
  .home-text013 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-image1 {
    width: 80%;
  }
  .home-heading-container {
    width: 100%;
  }
  .home-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .home-features-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-features-card1 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-features-card2 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-features-card3 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-features-card4 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-features-card5 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-heading-container1 {
    width: 100%;
  }
  .home-container04 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-container06 {
    flex-direction: column;
  }
  .home-container07 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .home-container08 {
    width: 100%;
  }
  .home-stats {
    padding-left: 32px;
    padding-right: 32px;
    grid-template-columns: 1fr 1fr;
  }
  .home-text093 {
    text-align: center;
  }
  .home-text095 {
    text-align: center;
  }
  .home-text097 {
    text-align: center;
  }
  .home-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-container09 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-logo {
    align-items: center;
  }
  .home-text114 {
    margin-top: 32px;
    text-align: center;
    margin-bottom: 32px;
  }
  .home-container10 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .home-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .home-cta-btn {
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-hero {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-container02 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-btn-group {
    flex-direction: column;
  }
  .home-image1 {
    padding-top: var(--dl-space-space-tripleunit);
  }
  .home-features {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-features-card {
    width: 100%;
  }
  .home-features-card1 {
    width: 100%;
  }
  .home-features-card2 {
    width: 100%;
  }
  .home-features-card3 {
    width: 100%;
  }
  .home-features-card4 {
    width: 100%;
  }
  .home-features-card5 {
    width: 100%;
  }
  .home-container04 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-stats {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
    grid-template-columns: 1fr;
  }
  .home-banner {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
  .home-container09 {
    align-items: center;
    flex-direction: column;
  }
  .home-text114 {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .home-links-container {
    align-items: center;
    flex-direction: column;
  }
  .home-container10 {
    margin-right: 0px;
  }
  .home-container11 {
    margin-top: 24px;
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .home-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text121 {
    text-align: center;
  }
  .home-text122 {
    text-align: center;
  }
}
