<div>
  <link href="./get-now.css" rel="stylesheet" />
  <div class="get-now-banner">
    <h2 class="get-now-text">
      <span>Get</span>
      <span class="get-now-text02">SentryONE</span>
      <br />
      <span>Secure Your Network Now</span>
      <br />
      <span>Before It&apos;s Too Late</span>
      <br class="get-now-text07" />
      <span></span>
    </h2>
    <span class="get-now-text09">
      <span>Did you know?</span>
      <br />
      <br />
      <span>RM561,000 was scammed daily in Selangor alone.</span>
      <br />
      <span>5–10 people are facing phishing and scams every minute.</span>
    </span>
    <a
      href="https://wa.me/601159315887?text=I'm%20inquiring%20about%20SentryONE"
      target="_blank"
      rel="noreferrer noopener"
      class="get-now-link button"
    >
      <span>Learn More</span>
    </a>
  </div>
</div>
